:root{
  --primary-color:#5F6CF4;

  --nav-bar-bg:#EAEFF3;
  --main-bg:#ecf2f7;
  --card-bg:#F9F9FB;
  --secondary-btn:#ECEDF2;

  --text-color:#1e1f21;

  /* Units */
  --rem-1:1rem;
  --rem-2:2rem;
  --rem-3:3rem;
  --rem-half:0.5rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;
}

.dark-mode{
  --primary-color:#5355DD;
  --nav-bar-bg:#080D18;
  --main-bg:#0F1421;
  --card-bg:#161D2A;
  --text-color:#FFF;
  --secondary-btn:#1C212F;
}